branches/NikotelCommunicator/Client/Web References/FileTransferWS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://remwave.com/FileTransfer/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://remwave.com/FileTransfer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://remwave.com/FileTransfer/">
      <s:element name="GetFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileChunkResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFileSizeResponse">
        <s:complexType />
      </s:element>
      <s:element name="PutFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="PutFileChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutFileChunkResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckFileHash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFileHashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckFileHashResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileChunkSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileChunk" />
  </wsdl:message>
  <wsdl:message name="GetFileChunkSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileChunkResponse" />
  </wsdl:message>
  <wsdl:message name="PutFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:PutFileSize" />
  </wsdl:message>
  <wsdl:message name="PutFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:PutFileSizeResponse" />
  </wsdl:message>
  <wsdl:message name="PutFileSoapIn">
    <wsdl:part name="parameters" element="tns:PutFile" />
  </wsdl:message>
  <wsdl:message name="PutFileSoapOut">
    <wsdl:part name="parameters" element="tns:PutFileResponse" />
  </wsdl:message>
  <wsdl:message name="PutFileChunkSoapIn">
    <wsdl:part name="parameters" element="tns:PutFileChunk" />
  </wsdl:message>
  <wsdl:message name="PutFileChunkSoapOut">
    <wsdl:part name="parameters" element="tns:PutFileChunkResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFileHashSoapIn">
    <wsdl:part name="parameters" element="tns:CheckFileHash" />
  </wsdl:message>
  <wsdl:message name="CheckFileHashSoapOut">
    <wsdl:part name="parameters" element="tns:CheckFileHashResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetFileSize">
      <wsdl:input message="tns:GetFileSizeSoapIn" />
      <wsdl:output message="tns:GetFileSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input message="tns:GetFileSoapIn" />
      <wsdl:output message="tns:GetFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <wsdl:input message="tns:GetFileChunkSoapIn" />
      <wsdl:output message="tns:GetFileChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutFileSize">
      <wsdl:input message="tns:PutFileSizeSoapIn" />
      <wsdl:output message="tns:PutFileSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <wsdl:input message="tns:PutFileSoapIn" />
      <wsdl:output message="tns:PutFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutFileChunk">
      <wsdl:input message="tns:PutFileChunkSoapIn" />
      <wsdl:output message="tns:PutFileChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFileHash">
      <wsdl:input message="tns:CheckFileHashSoapIn" />
      <wsdl:output message="tns:CheckFileHashSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://remwave.com/FileTransfer/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://remwave.com/FileTransfer/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <soap:operation soapAction="http://remwave.com/FileTransfer/GetFileChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFileSize">
      <soap:operation soapAction="http://remwave.com/FileTransfer/PutFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <soap:operation soapAction="http://remwave.com/FileTransfer/PutFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFileChunk">
      <soap:operation soapAction="http://remwave.com/FileTransfer/PutFileChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFileHash">
      <soap:operation soapAction="http://remwave.com/FileTransfer/CheckFileHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://remwave.com/FileTransfer/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://remwave.com/FileTransfer/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <soap12:operation soapAction="http://remwave.com/FileTransfer/GetFileChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFileSize">
      <soap12:operation soapAction="http://remwave.com/FileTransfer/PutFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <soap12:operation soapAction="http://remwave.com/FileTransfer/PutFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFileChunk">
      <soap12:operation soapAction="http://remwave.com/FileTransfer/PutFileChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFileHash">
      <soap12:operation soapAction="http://remwave.com/FileTransfer/CheckFileHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://api.remwave.com/FileTransferWS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://api.remwave.com/FileTransferWS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>